
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer id="footer" class="mtp">
	<!-- Start of Footer3 -->
		<section class="footer_3">
			<section class="container-fluid container">
				<section class="row-fluid">
					<figure class="span6" id="footer_left2">
						<ul class="footer_nav">
						<li> <a href="{% url 'index' %}">Home</a> </li>
						<li> <a href="{% url 'e_waste_classification' %}">E-Waste</a> </li>
						<li> <a href="{% url 'clothing' %}">Clothing</a> </li>
<!--						<li> <a href="#">Placeholder</a> </li>-->
<!--						<li> <a href="#">Placeholde</a> </li>-->
						</ul>
					</figure>
					<figure class="span6" id="footer_right2">
						<div id="tweets" class="latest_tweets">
							<ul id="latest_tweets">
								<li> Update Information - E-waster and Clothing  </li>
							</ul>
						</div>
					</figure>
				</section>
			</section>
		</section>
	</footer>
<!-- End of Footer3 -->
</body>
</html>