<html lang="en">
<!-- Start of Header -->
<header>
    {% load static %}
    <!-- Start Main Header -->
    <!-- Main Nav Bar -->
    <nav id="nav">
        <section class="container-fluid container">
            <section class="row-fluid">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav">

                                <li class="active"><a href="{% url 'index' %}"> Home </a></li>


                                <li class="dropdown"><a class="dropdown-toggle"
                                                        href="{% url 'e_waste_classification' %}"> E-waste </a>
                                    <!--						<ul class="dropdown-menu">-->
                                    <!--							<li><a href="{% url 'e_waste_classification' %}">E-waste classification</a></li>-->
                                    <!--							<li><a href="{% url 'e_waste' %}">E-Waste Site</a></li>-->


                                </li>

                                <li><a class="dropdown-toggle" href="{% url 'clothing' %}"> Clothing </a></li>
                                <!--						<ul class="dropdown-menu">-->
                                <!--							<li><a href="crowdfunding_listing.html">placeholder</a></li>-->
                                <!--							<li><a href="crowdfunding_detail.html">placeholder</a></li>-->
                                <!--							<li><a href="crowdfunding_payment.html">placeholder</a></li>-->
                                <!--						</ul>-->


                                <!-- 					  <li class="dropdown"> <a class="dropdown-toggle" href="#" >  placeholder <b class="caret"></b> </a>-->
                                <!--						<ul class="dropdown-menu">-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!--						</ul>-->
                                <!--					  </li>-->

                                <!--  					  <li class="dropdown"> <a class="dropdown-toggle" href="#" >  placeholder<b class="caret"></b> </a>-->
                                <!--						<ul class="dropdown-menu">-->
                                <!--						<li><a href="#">placeholder</a></li>-->
                                <!--							<li><a href="#">placeholder</a></li>-->
                                <!-- 						</ul>-->
                                <!--					  </li>-->
                                <li class="dropdown"><a class="dropdown-toggle" href="{% url 'garbage' %}"> garbage <b
                                        class=""></b> </a></li>
                                <li class="dropdown"><a class="dropdown-toggle" href="{% url 'garbage_video' %}"> garbage video <b
                                        class=""></b> </a></li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                    <!-- /.navbar-inner -->
                </div>
                <!-- /.navbar -->
            </section>
        </section>
    </nav>
    <!-- End Main Nav Bar -->
    <section class="logo_container">
        <section class="container-fluid container">
            <section class="row-fluid">
                <section class="span4">
                    <h1 id="logo">
                        <a href="{% url 'index' %}"> <img src="{% static 'images/logo.png'%}" style=""></a>
                    </h1>
                </section>
                <section class="span4 pull-right">
                    <figure class="charity_counter_wrapper">
                        <section class="span12">
                            <div class="charity_title">
                                <h4>Help international student families reduce waste and recycle waste</h4>
                            </div>
                        </section>
                    </figure>
                </section>
            </section>
        </section>
    </section>

</header>
</html>